@media screen and (max-width: 600px) {

    header {
        grid-template-columns: auto 1fr auto;
        justify-items: center;
        text-align: center;
    }

    header h1 {
        font-size: 1.7rem;
    }

    /* show hamburger button */
    #menu {
        display: block;
        outline: none;
    }

    #menu:focus {
        outline: none;
    }

    /* hide navbar by default */
    header .navbar {
        display: none;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-top: 10px;
    }

    /* show when toggled */
    header .navbar.show {
        display: flex;
        flex-direction: column;
    }

    header .navbar a {
        width: 80%;
        font-size: 1.1rem;
        padding: 8px;
        margin: 0 auto;
    }

    header .navbar a:hover {
        background-color: var(--details-color);
    }

    h1, h2, h3 {
        text-align: center;
    }

    /* recommendation for you */

    #main #recommendations {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 35px;
        padding: 10px;
        background-color: var(--background-color);
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    #main #recommendations .left_content h2 {
        font-size: 1.6rem;
    }

    #main #recommendations button {
        grid-column: 1;
        width: 100%;
        max-width: 200px;
        height: 40px;
        background-color: var(--title-color);
        color: white;
        font-size: 1.1rem;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        justify-self: center;
        margin-top: 0px;
    }

    #main #recommendations button:hover {
        background-color: var(--details-color);
    }

    #main #recommendations img {
        grid-column: 1;
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        display: block;
    }

    #movie_cards img {
    border-radius: 5px;
    transition: all 0.5s;
    }

    #movie_cards img:hover {
        border-radius: 15px;
    }

    footer {
        font-size: 1rem;
        padding: 15px;
    }
}