@media screen and (min-width: 640px) {

    #links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    header {
        font-size: 2rem;
    }
    
    main h2 {
        font-size: 2rem;
        text-align: center;
    }

    nav a {
        padding-bottom: 20px;
        font-size: 1.5rem;
        transition: transform 0.3s, color 0.3s;
    }

    nav a:hover {
        transform: scale(1.2);
        color: white;
    }

    #menu {
        display: none;
    }

    .figure-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    figure {
        width: 200px;
        flex: 0 0 auto;
    }

    figure img {
        transition: transform 0.5s;
    }

    figure img:hover {
        transform: scale(1.030);
    }

}