@media screen and (min-width: 640px) {

    #links {
        display: flex;
    }

    header {
        font-size: 2rem;
    }

    ul {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;
        padding: 10px;
        font-size: 1.2rem;
    }
    
    li a {
        font-size: 1.5rem;
    }

    a {
        display: inline-block;
        transition: transform 0.3s, color 0.3s;
    }

    a:hover {
        transform: scale(1.2);
        color: white;
    }

    #menu {
        display: none;
    }

    .figure-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    figure {
        width: 200px;
        flex: 0 0 auto;
    }

    figure img {
        transition: transform 0.5s;
    }

    figure img:hover {
        transform: scale(1.030);
    }

}